h1{
    font-weight: bolder;
    font-size:3rem;
}
h2{
    font-size: 2rem;
    font-weight: lighter;
}
bold{
font-style: oblique;
font-size:2rem;
}
span{
    font-style: inherit;
    font-size:1.4rem;
}
.second{
    
    font-style: italic;
    font-size:1.3rem;
}
.btn{
    font-weight: bold;
    font-style: italic;
}