:root {
    --main-color: rgba(255, 255, 255, 0.97);
    --pane-padding: 5px 42px;
  }
body,html{
  margin: 0;
  padding: 0;
}
nav{
    background-color: #444444;
}
h1{
    background-color: #333333;
    color:white;
    text-align: center;
    padding: 1.2rem;
    font-size: 2rem;
    margin:0;
}
footer{
    background-color: #333333;
    color:var(--main-color);
    text-align: center;
    padding: 0.1rem;
}
nav{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0.7rem 2.6rem;    
  
}
nav a{
    color:var(--main-color);
    text-decoration: none;
    margin-left: 1rem;
    
}
.container{
    margin: 0  1rem;
}
.section{
    background-color: #f4f4f4f4;
    margin:0.8rem ;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    border:1px solid ;
    box-shadow: 2px 1px #d0d0d0;

}
@media (min-width: 900px) and (max-width: 1399px) {
 body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "nav header"
        "nav main"
        "nav footer";
 }
 header {
    grid-area: header;
}

nav {
    grid-area: nav;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    gap:0;
    height: min-content;
    padding-bottom: 100%;
    

}
nav a{
height: min-content;
margin:0;

}

.container {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 1.3rem;
}
.section{
    margin:0.5rem ;
}
.section:nth-child(1),:nth-child(3){
    margin-left: 0;
}

footer {
    grid-area: footer;
}
}
@media(min-width:1400px){
    h1{
        font-size: 2.3rem;
    }
    .container{
        display: flex;
        margin: 0 4rem;;
    
          
    }
    .section{
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: center;

    }
    nav a {
        margin-right: 1.7rem;
        font-size: 1.2rem;
    }
}