div p{
    color:red;
    font-size: 1.3rem;
    font-style: italic;
}
div p::first-letter{
    font-size: 1.6rem;
    color: blueviolet;
}
div p:hover{
    cursor: pointer;
    color:blue;
    font-size: 2rem;
}
div p:hover::first-letter{
    color:green;
    font-size: 2.2rem;
}